[Desktop Entry]
Name=Evernight Vista Window Light
Comment=Evernight-Vista-Window-Light Decoration For Plasma 6
X-KDE-PluginInfo-Author=Evernight Vista Team
X-KDE-PluginInfo-Email=13278297951@sina.cn
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Name=Evernight-Vista-Window-Light
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
