[AdaptiveTransparency]
enabled=true

[Desktop Entry]
Name=Evernight Vista Aero
X-KDE-PluginInfo-Author=Evernight Vista Team
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-Name=evernightaero
X-KDE-PluginInfo-Version=44.0.1
X-Plasma-API=5.0
